.hero_main{
  height: 80vh;
}
.main_title{
  background: #696969;
 background: linear-gradient(to right, #696969 21%, #A6979E 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 4.5rem; /* 72px */
line-height: 1;
}
.title{
  background: #696969;
  background: linear-gradient(to right, #696969 21%, #A6979E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}